body{
    background-color: #dfdfdf;
}

.navbar-nav{
    margin-left: 750px;
}

.nav-link{
    margin-right: 20px;
    color: #181717;
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(27, 27, 26);
}

.navbar-brand{
    color: #111010;
    font-family: 'Roboto';
    font-size: 30px;
    padding-left: 100px;
    padding-top: 10px;
}

.navbar{
    background-color: #ffffff !important;
    box-shadow: 0 3px 4px rgb(0,0,0);
    background-image: url(1808239.jpg);
}

.about{
    font-family: 'Roboto';
}

.about h2{
    margin-top: 250px;
}
.about p{
    margin-bottom: 200px;
    text-align: center;
}

.kartu{
    margin-top: 50px;
}

.card{
    width: 50px;
    margin: 20px 30px;
    height: 480px;
    border-style: outset;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
}

.card img:hover{
    filter: brightness(50%);
}

.card a{
    color: #181515;
    font-weight: bold;
}

.card img{
    width: 248px;
    height: 190px;
    margin-left: -12px;
}

.card h5,p{
    margin-left: -10px;
    font-weight: bold;
}

.btn{
    margin-left: -10px;
    margin-top: 50px;
}
.formulir p,h2{
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    text-align: center;
}
.formulir h2{
    margin-top: 100px;
    font-weight: 50px;
}

.formulir p{
    margin-bottom: 20px;
}

.formulir button{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 0px;
    color: #ffffff;
    font-weight: bold;
}

.formulir input,textarea{
    box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

label{
    font-weight: bold;
}